{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            <h2>{{ _('Sign In') }}</h2>

            {{ wtf.quick_form(form) }}

            <br>
            <p>{{ _('New User?') }} <a href="{{ url_for('auth.register') }}">{{ _('Click to Register!') }}</a></p>
            <p>
                {{ _('Forgot Your Password?') }}
                <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Click to Reset It') }}</a>
            </p>
        </div>

        <div class="col-md-6">
            <iframe id="ytplayer" type="text/html" width="600" height="400"
            src="https://www.youtube.com/embed/g4QtTywHYA0?autoplay=1&origin=http://wevo-demo.herokuapp.com"
            frameborder="0"></iframe>
        </div>
    </div>
    <br>

{% endblock %}
